a {
	text-decoration: none;
}

body {
	background-color: #412B02;
}

h1, h2, ul {
	text-align: center;
}

h1 {
	background: #9A3C00;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 5em;
	font-weight: 800;
	padding: 20px 0 20px 0;
}

h2 {
	background: #9A3C00;
	color: #FFFD9E;
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: 600;
	margin-bottom: 20px;
	padding-bottom: 30px;
}

img {
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

p {
	color: #ffffff;
	font-family: 'Unna', serif;
	font-size: 2em;
	line-height: 2.25em;
	margin: 15px 40px 0 50px;
}

#contact {
	font-size: 2em;
	font-style: italic;
	letter-spacing: 1px;
	margin: 10px 0 20px 0;
	text-align: center;
}

#foot {
	color: #412B02;
	text-align: center;
}

#intro {
	margin: 25px 20px 0 50px;
}

ul li {
	background-color: #9A3C00;
	color: #ffffff;
	display: inline;
	font-family: 'Unna', serif;
	font-size: 2em;
	line-height: 4em;
	margin: 50px;
	padding: 40px 0;
}

ul a:hover {
	background-color: #412B02;
}

ul a:link {
	color: #9A3C00;
	margin: 30px;
	padding: 5px 9px;
}

ul a:visited {
	color: #ffffff;
}
